/* Reset some default styles */
body,
h1,
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	text-align: center;
}


#header {
	display: flex;
	background-color: #333333;
	padding: 10px;
	justify-content: space-between;
	align-content: center;
}

.logo {
	height: 100px;
	width: 100px;
}

nav {
	height: 50px;
	margin: 0;
}

h1 {
	padding-top: 30px;
	color: white;
}

.navbar {
	height: 45px;
}

.navbar li {
	height: auto;
	width: 80px;
	float: left;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #444444;
}

.navbar a {
	padding-top: 25px;
	padding-bottom: 25px;
	text-decoration: none;
	color: white;
	display: block;
}

.navbar li:hover,
a:hover {
	background-color: #333333;
}

.navbar li ul {
	display: none;
	height: auto;
	margin: 0;
	padding: 0;
}

.navbar li:hover ul {
	display: block;
}

.navbar li ul li {
	background-color: #333333;
}





#footer{
	position:fixed;
	bottom:0;
	padding:10px;
	width:100%;
	text-align:center;
	background-color: #333333;
	color:white;
}

@media screen and (max-width:800px) {
	h1 {
		font-size: 36px;
		color: white;
		height: 30px;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	#header {
		display: block;
		height: 450px;
		background-color: #333333;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navbar {
		height: 100px;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	nav {
		display: flex;
		justify-content: center;
	}

	.navbar a {
		width: 50px;
		margin: 10px;
		margin-top:10px;
		padding-left: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 5px;
		text-decoration: none;
		color: white;
	}

	.navbar li {
		height: 25px;
		width: 80px;
		list-style: none;
		margin-left: 0;
		padding-top: 13px;
		padding-right: 20px;
		background-color: #444444;
	}
	
	#last {
		padding-bottom: 28px;
	}

	.navbar li:hover ul {
		display: flex;
		flex-direction: column;
		padding-left: 100px;
		padding-bottom: 100px;

	}
}