/* Reset some default styles */
body,
h1,
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	text-align: center;
}
@media screen and (max-width:1440px){
	#header{
		display:flex;
		background-color: #444444;
		padding:2%;
		justify-content:space-between;
		flex-wrap:wrap;
		
	}
	nav {
		width: 40%;
		height: 50px;
		margin: 0;
		position: relative;
		background-color: #444444;
	  }
	  h1{
		padding-top:30px;
		color:white;
	  }
	.navbar {
		height: 45px;
		width: 95%;
		position:relative;
	}
	.navbar li {
		height: auto;
		width: 80px;
		float:left;
		text-align: center;
		list-style: none;
		padding: 0;
		margin:0;
		background-color: grey;
	}
	.navbar a {
		padding-top:25px;
		padding-bottom:25px;
		text-decoration: none;
		color: white;
		display: block;
	}
	.navbar li:hover,
	  a:hover {
		background-color: #444444;
	}
	.navbar li ul {
		display: none;
		height: auto;
		margin: 0;
		padding: 0;
	}
	.navbar li:hover ul {
		display:block;
	}
	.navbar li ul li {
		background-color: #444444;
	}
}

 
  

@media screen and (max-width:550px){
	h1{
		font-size:36px;
		height:30px;
		padding-bottom:25px;
	}
	.navbar li {
		height: 30px;
		width: 80px;
		list-style: none;
		margin-left:0;
		padding-top:12px;
		padding-right:20px;
		background-color: grey;
	}
	
	#last{
		padding-bottom:15px;
	}
	#first{
		padding-top:10px;
	}
	#header{
		position:relative;
		height:470px;
		padding:20px;
		background-color: #444444;
		justify-content:space-around;
		
	}
	.navbar {
		height: 100px;
		width: 50%;
		padding-left:18px;
		position: absolute;
  	}
	.navbar a{
		height:20px;
		margin:0;
		padding:0;
	}
	nav {
		height:290px;
		padding-left:50px;
	}
	.navbar li:hover ul{
		position:absolute;
		margin-left:100px;

	}
}

  