/* Reset some default styles */
body,
h1,
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	text-align: center;
}

@media screen and (min-width:800px){
	#header{
		display:flex;
		background-color: rgb(51, 51, 51);
		padding:2%;
		justify-content:space-between;
		flex-wrap:wrap;
		
	}
	nav {
		height: 50px;
		margin: 0;
	  }
	  h1{
		padding-top:30px;
		color:white;
	  }
	.navbar {
		height: 45px;
		width: 100%;
	}
	.navbar li {
		height: auto;
		width: 80px;
		float:left;
		text-align: center;
		list-style: none;
		padding: 0;
		margin:0;
		background-color: grey;
	}
	.navbar a {
		padding-top:25px;
		padding-bottom:25px;
		text-decoration: none;
		color: white;
		display: block;
	}
	.navbar li:hover,a:hover {
		background-color: rgb(51, 51, 51);
	}
	.navbar li ul {
		display: none;
		height: auto;
		margin: 0;
		padding: 0;
	}
	.navbar li:hover ul {
		display:block;
	}
	.navbar li ul li {
		background-color: rgb(51, 51, 51);
	}
}

 
  

@media screen and (max-width:800px){
	h1{
		font-size:36px;
		color:white;
		height:30px;
		padding-top:30px;
		padding-bottom:30px;
	}
	.navbar li {
		height: 30px;
		width: 80px;
		list-style: none;
		margin-left:0;
		padding-top:12px;
		padding-right:20px;
		background-color: grey;
	}
	#last{
		padding-bottom:15px;
	}
	#first{
		padding-top:10px;
	}
	#header{
		height:430px;
		padding:25px;
		background-color: rgb(51, 51, 51);
		
	}
	.navbar {
		height: 100px;
		display:flex;
		flex-direction: column;
  	}
	.navbar a{
		height:20px;
		margin:0;
		padding:0;
		text-decoration: none;
		color: white;
		display: block;
	}
	nav {
		display:flex;
		justify-content:center;
		padding-right:40px;
	}
	.navbar li:hover ul{
		position:absolute;
		margin-left:100px;

	}
	.navbar li ul {
		display: none;
		height: auto;
		margin: 0;
		padding: 0;
	}
}

  