body, html {
  margin: 0;
  padding: 0;
}

#container {
  border: 1px solid red;
  box-sizing: border-box;
  height: 768px;
  width: 1336px;
  margin: auto;
  margin-top: 24px;
}

.header{
  background:linear-gradient(green,white);
  padding:30px 40px 30px 40px;
}
h1{
  text-align:center;
}


.name-input,.intro{
  display:flex;
}
#main-name{
  width:75%;
  color:white;
}

.menu{
  width:25%;
  display:flex;
  height:max-content;
  justify-content:flex-end;
}
.menu a{
  padding:8px 16px 8px 16px;
  font-size:18px;
  text-decoration:none;
  color:white;
  border:2px dotted #0000F5;
  margin-right:8px;
}
[name = "student-name"]{
  width:75%;
  padding:10px;
  font-size:16px;
}
[type="submit"]{
   width:25%;
   padding:10px;
   font-size:16px;
   border:2px dashed white;
   background-color: #75147C;
   color:white;
}

button[type="submit"]:hover{
  background-color: rgb(255, 115, 0);
  color:white;
}

#main ul li:nth-child(even){
  background-color:#97CCE8;
}
#main ul li:nth-child(odd){
  background-color:#F5C3CB;
}
#main ul li.selected{
  background-color: #377E22;
}
#main ul li:hover{
  background-color:white;
}

#main ul .not-selected{
  display:flex;
  justify-content:space-between;
  list-style-type: none;
  padding:12px;
  padding-left:40px;
  font-size:18px;
}
#main ul{
  margin:0;
  padding:0;
}
#main ul li input{
  margin-left:auto;
  width:120px;
  padding:10px;
  font-size:16px;
}
#main ul li label{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
#main ul .selected{
  display:flex;
  justify-content:space-between;
  list-style-type: none;
  padding:12px;
  padding-left:12px;
  font-size:18px;
}
#selected-mark{
  display:flex;
  border-bottom:solid 2px white;
  border-right:solid 2px white;
  width:5px;
  height:15px;
  transform:rotate(45deg);
  margin-top:10px;
  margin-right:12px;
}
#petar-grade{
  text-decoration: line-through;
  color:white;
}




