body, html {
  margin: 0;
  padding: 0;
}

#container {
  border: 1px solid red;
  box-sizing: border-box;
  height: 768px;
  width: 1336px;
  margin: auto;
  margin-top: 24px;
}

.header{
  background:linear-gradient(green,white);
}
h1{
  text-align:center;
}
.menu{
  padding: 5px;
  position:relative;
  left:70%;
  bottom:15px;
}
a{
  border: 2px dotted blue;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:5px;
  text-decoration: none;
  color:white;
  font-size:20px;
}
#main-name{
  position:relative;
  left:35%;
  top:60px;
  color:white;
  font-size:25px;
  font-weight:bold;
}
[name = "student-name"]{
  position:relative;
  left:1%;
  width:70%;
  padding: 10px;
  margin: 25px;
  font-size:15px;
  border:none;
}
[type="submit"]{
    position:relative;
    right:5%;
    border:2px dotted white;
    border-radius:2px;
    background-color: purple;
    padding-right: 140px;
    padding-left: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-size: 15px;
}
button[type="submit"]:hover{
  background-color: rgb(255, 115, 0);
  color:white;
}

#main ul li:nth-child(even){
  background-color:aqua;
}
#main ul li:nth-child(odd){
  background-color:pink;
}
#main ul li.selected{
  background-color: green;
}
#main ul li:hover{
  background-color:white;
}
#main ul li{
  list-style-type: none;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:40px;
  margin-left:-40px;
  font-size:20px;
}

#main ul input{
  position:absolute;
  left:88%;
  height:20px;
  width:120px;
  padding:10px;
  margin:-10px;
  font-size:15px;
}
#selected-mark{
  display:inline;
  margin-left:-20px;
}
#petar-grade{
  text-decoration: line-through;
}



